name: Azure Web App Deployment
on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:

env:
  DATABASE_URL: ${{ secrets.DATABASE_URL}}
  CI: false

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout repository default branch
        uses: actions/checkout@v4

      - name: Log in to registry
        uses: docker/login-action@v2
        with:
          registry: https://index.docker.io/v1/
          username: ${{ secrets.AzureAppService_ContainerUsername_1637caf0cab5444eb6ff1aae3f9e0a60 }}
          password: ${{ secrets.AzureAppService_ContainerPassword_8d7449051fa543848d8705c9df8c3135 }}

      - name: Build and push container image to registry
        run: |
          docker build --build-arg DATABASE_URL='${{ secrets.DATABASE_URL }}' -t ${{ secrets.AzureAppService_ContainerUsername_1637caf0cab5444eb6ff1aae3f9e0a60 }}/travel-planner:${{ github.sha }} .
          docker push ${{ secrets.AzureAppService_ContainerUsername_1637caf0cab5444eb6ff1aae3f9e0a60 }}/travel-planner:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'sastravelplanner'
          slot-name: 'production'
          publish-profile: ${{ secrets.AzureAppService_PublishProfile_eadad1fef49c42baa8f7849f52580728 }}
          images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_1637caf0cab5444eb6ff1aae3f9e0a60 }}/travel-planner:${{ github.sha }}'
